#pageHolder{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    padding-top: 15px;
}

.innerButton{
    width: 40px;
    margin-right: 2px;
    font-size: 10px;
    height: 30px;
    margin-top: 5px;
}

#prevPage{
    margin-top: 3px;
    width: 10px;
    font-size: 12px;
    margin-right: 10px;
}

#nextPage{
    margin-top: 3px;
    width: 10px;
    font-size: 12px;
    margin-left: 10px;
}

@media only screen and (max-width:750) {
    #pageHolder{
        flex-wrap: wrap;
    }
}