body{
    background-color: whitesmoke;
}

#main{
    margin-right: 5vw;
    margin-left: 5vw;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-bottom: 150px;
    height: 100%;
    background-color: white;
}

@media only screen and (max-width:750px){
    #main{
        margin-right: 3vw;
        margin-left: 3vw;
    }
}