#inputHolder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5vw;
}

@media only screen and (max-width:1450px){
    #inputHolder{
        flex-direction: column;
    }
    #inputHolder div{
        margin-bottom: 5px;
    }
}